<p>projects-list works!</p>
<div class="container">
    <a href="#" routerLink="/projects/add" class="btn btn-success">CREATE PROJECT</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>PROJECT ID</th>
                <th>PROJECT NAME</th>
                <th>PROJECT DESCRIPTION</th>
                <th>PROJECT START DATE</th>
                <th>PROJECT END DATE</th>
                <th>PROJECT STATUS</th>
                <th width="250px">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td>{{project.projectId}}</td>
                <td>{{project.projectName}}</td>
                <td>{{project.projectDescription}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.endDate}}</td>
                <td>{{project.status}}</td>
                <td>
                    <a href="#" class="btn btn-info" [routerLink]="['/projects/',project.projectId,'view']">View</a>
                    <button class="btn btn-primary" type="button"
                        (click)="editProject(project.projectId)">EDIT</button>
                    <button class="btn btn-danger" type="button"
                        (click)="deleteProject(project.projectId)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>