<p>roles-details works!</p>
<div class="container">
    <a href="#" routerLink="/roles/add" class="btn btn-success">CREATE ROLE</a>
    <a href="#" routerLink="/roles/list" class="btn btn-secondary">VIEW ROLE List</a>
    <div>
        <strong>role ID : </strong>
        <p>{{role.roleId}}</p>
    </div>

    <div>
        <strong>role NAME : </strong>
        <p>{{role.roleName}}</p>
    </div>
    <div>
        <strong>role DESCRIPTION : </strong>
        <p>{{role.description}}</p>
    </div>
  


</div>